<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <listener>
        <listener-class>com.app.config.FlywayConfig</listener-class>
    </listener>

    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/food_delivery_db</param-value>
    </context-param>

    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>

    <context-param>
        <param-name>user</param-name>
        <param-value>root</param-value>
    </context-param>

    <context-param>
        <param-name>password</param-name>
        <param-value>password123#</param-value>
    </context-param>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.app.controller.LoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.app.controller.LogoutController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DBcontroller</servlet-name>
        <servlet-class>com.app.controller.DBInitializationController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DBcontroller</servlet-name>
        <url-pattern>/dbController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Customersignup</servlet-name>
        <servlet-class>com.app.controller.CustomerSignUpController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Customersignup</servlet-name>
        <url-pattern>/customerSignUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDeliveryperson</servlet-name>
        <servlet-class>com.app.controller.AddDeliveryPersonController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddDeliveryperson</servlet-name>
        <url-pattern>/deliveryPersonSignUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Usercontroller</servlet-name>
        <servlet-class>com.app.controller.UserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Usercontroller</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Userscontroller</servlet-name>
        <servlet-class>com.app.controller.ListAllUsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Userscontroller</servlet-name>
        <url-pattern>/customers</url-pattern>
        <url-pattern>/deliveryPersons</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Addcategory</servlet-name>
        <servlet-class>com.app.controller.AddCategoryController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Addcategory</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Listallcategories</servlet-name>
        <servlet-class>com.app.controller.ListAllCategoryController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Listallcategories</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Addfooditem</servlet-name>
        <servlet-class>com.app.controller.AddFoodItemController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Addfooditem</servlet-name>
        <url-pattern>/addFoodItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Listallfooditems</servlet-name>
        <servlet-class>com.app.controller.ListAllFoodItemsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Listallfooditems</servlet-name>
        <url-pattern>/foodItems</url-pattern>
    </servlet-mapping>

</web-app>